body {
  margin: 0;
  background-color: #ddd;
}
#emoji {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 100px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #ddd;
}
.main-container {
  max-width: 700px;
  min-height: 90vh;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
}
.main-container input {
  margin-bottom: 20px;
}
p {
  display: flex;
  align-items: center;
  gap: 5px;
}
